[submodule "custom-modules/sensu_community_plugins/files"]
	path = custom-modules/sensu_community_plugins/files
	url = https://github.com/sensu/sensu-community-plugins.git
[submodule "custom-modules/sensu_influxdb/files"]
	path = custom-modules/sensu_influxdb/files
	url = https://github.com/seegno/sensu-influxdb-extension.git
